= flash[:alerta]
= boas_vindas
%h1
  Exibindo Restaurante

%p
  %b
    Nome
  = @restaurante.nome

%p
  %b
    Endereço
  = @restaurante.endereco

%p
  %b
    Especialidade
  = @restaurante.especialidade

%p
  %b
    Nota média:
  = @restaurante.qualificacoes.average(:nota)

%br

= link_to 'Qualificar este restaurante',  :controller => 'qualificacoes',
                                          :action => 'new',
                                          :restaurante => @restaurante
                                          
= link_to 'Editar', action: 'edit', id: @restaurante
= link_to 'Voltar', action: 'index'
#comentarios
  - unless @restaurante.comentarios.empty?
    = comentarios @restaurante
= novo_comentario(@restaurante)
