<!DOCTYPE html>
<html>
<head>
  <title>VotaPrato</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p style="color:red;">Premium</p>
<h1>Vota Prato</h1>
<%= link_to 'Home', banana_path %>
<%= yield %>

</body>
</html>